.env
__pycache__/
*.py[cod]
.venv/
venv/
models/*
!models/intent_classifier/.gitkeep
!models/ner/
!models/ner/fitness_ner/
data/user_profiles/*
!data/user_profiles/.gitkeep
.streamlit/secrets.toml
.ipynb_checkpoints/
